.my-orders .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);
}

.order hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.order-bottom{
    margin-top: 80px;
}
.order-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.order-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.order-total hr{
    margin: 10px 0px;
}

@media (max-width:900px) {
    .my-orders-order{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    }
}

@media (max-width:750px){
    .order-bottom{
        flex-direction: column-reverse;
    }
}